body {
  font-family: 'Raleway', sans-serif;
}

.float-left { float: left; }
.float-right { float: right; }
.padding { padding: 30px 0; }

.container {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: white;
}

  .container .container-label {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: -45px;
    margin-bottom: 30px;
  }

    #review-panel div button {
      margin-left: 20px;
    }

    #review-panel div button:first-child {
      margin-left: 0;
    }

  .photo-gallery div {
    float: left;
    padding: 20px 10px;
  }

    .photo-gallery div div img {
      width: 150px;
      height: 100px;
    }

.hover-image {
  position: absolute;
  z-index: 5;
  border: 10px solid #DDD;
  border-radius: 5px;
}
